.page-container {
  padding: 50px 100px; }
  @media (max-width: 767px) {
    .page-container {
      padding: 50px 10px; } }
  .page-container > h3 {
    margin-bottom: 50px; }
  .page-container .tab-content {
    margin: 100px 50px;
    overflow: hidden; }
    @media (max-width: 767px) {
      .page-container .tab-content {
        margin: 100px 0; } }

.table-container {
  overflow-x: auto; }

table th button {
  border: none;
  background: inherit; }
  table th button:focus {
    outline: none; }

.inline-block {
  display: inline-block; }

.title {
  font-weight: 700; }
