tr {
  height: 30px; }
  tr th, tr td {
    text-align: center; }
    tr th.align-left, tr td.align-left {
      text-align: left; }
    tr th.overall, tr td.overall {
      background-color: rgba(136, 163, 206, 0.3); }
    tr th.home, tr td.home {
      background-color: rgba(224, 174, 136, 0.3); }
    tr th.away, tr td.away {
      background-color: rgba(132, 165, 49, 0.3); }
  tr td > img {
    height: 25px; }

.keys > span {
  padding-right: 15px; }
