div
	div
		span {{date | date: 'MMM dd'}}
	div
		span(ng-if="status == 'FINISHED' && !extra && !penalty") FT
		span(ng-if="status == 'FINISHED' && extra && !penalty") FT-ET
		span(ng-if="status == 'FINISHED' && penalty") FT-PEN
		span(ng-if="status != 'FINISHED'") {{date | date: 'hh:mm a'}}