div.page-container
	h3 {{league.leagueDetails.caption}}
	ul.nav.nav-tabs
		li(ng-repeat="tab in league.tabs" tab="tab" ng-class="league.tabClass(tab)"): a(ui-sref="league.{{tab.link}}({matchday: league.leagueDetails.currentMatchday})" 
		ng-click="league.setSelectedTab(tab)") {{tab.label}}
		
	ui-view