.tab-content#team-page
	a.col-sm-6.col-xs-12.team(ng-repeat="team in teams.teamsList.teams | orderBy: '+name'"
	ui-sref="team-details({teamId: team.id})")
		div.logo
			img(ng-src="{{team.crestUrl}}")
		span {{team.name}}