.tab-content#team-overviews
	h3 Overviews
	.overviews-img.inline-block
		img(src="{{overviews.details.crestUrl}}")
	.overviews-details.inline-block
		h2 {{overviews.details.name}}
		div Squad Market Value: {{overviews.details.squadMarketValue}}