block header
	div
		nav.navbar.navbar-default(ng-controller="headerCtrl as header")
			.navbar-header
				button.navbar-toggle(type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse(ng-class="!navCollapsed && 'in'")
				ul.nav.navbar-nav
					li#home-link(ng-class="header.activeLink('home')")
						a(ui-sref="home") Home
					li#leagues-link(ng-class="header.activeLink('league')")
						a.dropdown-toggle(data-toggle="dropdown") Leagues
						ul.dropdown-menu
							div.submenu(ng-repeat="(location, value) in header.leagues" ng-show="value.length != 0") {{location}}
								li(ng-repeat="league in value")
									a(ui-sref="league({leagueId: league.id})") {{league.caption}}
					li#cups-link(ng-class="header.activeLink('cups')")
						a.dropdown-toggle(data-toggle="dropdown") Cups
						ul.dropdown-menu
							li(ng-repeat="cup in header.cups")
								a(ui-sref="cup({cupId: cup.id})") {{cup.caption}}